<h1>Books</h1>

<% @books.each do |book| %>

 <p>Title</p>
 <span><%= link_to book.title, books_path(book.id) %>
       
  <p>Body</p>     
       <%= link_to book.title, books_path(book.id) %>
 
 </span>



 <% end %>
